.buildpath
.git/
.project
.settings/
site/assets/

site/protected/runtime/*.log
site/protected/runtime/application.*
site/protected/runtime/
site/protected/runtime/*.*
site/protected/config/*.php
site/upload/
site/download/
site/pp/
site/pp
site/tmp/
site/tmp

