@CHARSET "UTF-8";
.pano-detail{
	position:relative;
}
.edit_box{
   height:460px;
}
.edit_relative{
    position:relative; width:50px;
}
.color_green{
	color:green;
}
.edit_box .edit_buttons{
    position:absolute; right:0px ;top:0px;
}
.edit_panel{
    position:absolute; right:80px; top:0px;display:none;
}
.panel_box{
    border:8px solid #F5F5F5;background-color:#FFFFFF;
}
.panel_box_content{
	
}
.panel_title{
	background-color:#84868C;
	padding:4px;
	position:relative;
	height:16px;
}

.panel_box_content .title-bar{
	color:#FFFFFF;
	font-size:14px;
	font-weight:bold;
	line-height:16px;
	text-align:left;
}
.title-bar .label-warning{
	font-size:14px;
	cursor:pointer;
}
.title-bar .title_tip{
	position:absolute;
	right:40px;
	top:5px;
}
.panel_box_content .panel_close{
	color:#FFFFFF;
	font-size:14px;
	font-weight:bold;
	line-height:16px;
	position:absolute;
	cursor:pointer;
	right:6px;
	top:4px;
}
.panel_box_content .tips{
	text-align:left;
	margin:0;
}
.panle_content{
	margin:10px;
}
.panel_form .control-label{
	width:55px;
}
.panel_form .controls{
	margin-left:70px;
}
.panel_form select{
	width:150px;
}
.panel_form .control-group{
	margin-bottom:10px;
}
.hotspot_save_btn{
	margin:0 0 0 10px;
	text-align:left;
}
.hotspot_icon {
	display:none;
    position:absolute; 
    width:20px;
    height:20px;
}
.pano_small_thumb{
	position:relative;
	margin:10px 0 0 0;
	width:512px;

}
.img_track{
	position:absolute; 
    top:270px;
    left:140px;
    width: 250px; 
    height: 18px;
}
.img_track_left{
	position:absolute; 
    top:270px;
    left:120px;
    cursor:pointer;
}
.img_track_right{
	position:absolute; 
	top:270px;
    left:388px;
    cursor:pointer;
}
.thumb_img{
	position:absolute; 
	top:155px;
	left:6px;
	z-index:200;;
}
.scene_detail_save{
	color:#FFFFFF;
}

.cube_upload_box{
	display:none;
}
.pano_upload{

}
.box_open{
    position:relative;
    margin:0;
    display:block;
}
.nav{
	margin-bottom:5px;
	z-index:50;
}
.pano_upload_box{
	position:relative;
	height:80px;
	text-align:center;
	margin: 10px 0 10px 40px;
}
.pano_show{
	width:400px;
	height:200px;
	background-color:#F3F3F3;
	border:1px solid #F5F5F5;
	
}
.box_open .box_side{
    width:120px;
    height:120px;
    position:absolute;
    background-color:#F3F3F3;
}
.box_open .box_left{
    top:121px;
}
.box_open .box_down{
    top:121px;
    left:121px;
}
.box_open .box_right{
    top:121px;
    left:242px;
}
.box_open .box_up{
    top:121px;
    left:363px;
}
.box_open .box_front{
    left:121px;
}
.box_open .box_back{
    top:242px;
    left:121px;
}
.hotspot_save_btn select{
	width:80px;
}
form{
	margin:0;
}
.form_dom_width_100{
	width:100px;
}

